h3, td { 
    color: white;
}

nav {
    margin-left: -10%;
}

body {
    background-color: #000000;
}

ul {
    list-style-type: none;
    margin-left: 26%;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    font-size: 20px;
    letter-spacing: 2px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}